
#menu ul {
    position: relative;
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    list-style: none;
    margin-left: 10%;
}

#menu {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    z-index: 10;
    background-color: rgba(160, 255, 242, 0.616);
}


#menu ul li a {
    display: block;
    padding: 9px 25px 0px 25px;
    font-size: 13px;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    height: 36px;
    box-sizing: border-box;
    color: white;
}

#menu ul li ul li a {
    display: block;
    text-transform: none;
    height: auto;
    padding: 7px 25px;
    width: 100%;
    box-sizing: border-box;
    border-top: 1px solid black;
    color: white;
}

#menu > ul::after {
    display: block;
    width: 100;
    height: auto;
    clear: both;
    content: " ";
}

#menu ul li {
    position: relative;
    display: block;
    float: left;
    width: auto;
    height: auto;
}

body {
    background: url(1626178173_35-kartinkin-com-p-naruto-zadnii-fon-krasivo-44.jpg);
    background-size: cover;
}

h1 {
    margin-left: 14%;
    color: rgb(255, 205, 205);
}

p {
    color: white;
    font-size: 22px;
    margin-right: 63%;
    margin-left: 10%;
}

img {
    margin: 10% 10px 10px 30%;
}

h2 {
    margin: 0% 0% 0% -30%;
    font-size: 30px;
    color: rgb(59, 13, 65);
}